/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Variáveis */
:root {
    --azul: #2e7a96;
    --azulEscuro: #14243c;
    --azulMedio: #2a375f;
    --preto: #000000;
    --branco: #ffff;
    --verde: #88e788;
    --vermelho: #ff2c2c;
    --azuleletrico: #3498db;

}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--branco);
    color: var(--azuleletrico);
    border: 1px solid var(--azul);
    padding: 0.8rem 1.8rem;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(52, 152, 219, 0.3);

}

.btn:hover {
    background-color: #c1d8f0;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*Serviços Cartão*/
.card {
    width: 342px;
    height: 560px;
    background-color: var(--azulMedio);
    margin-bottom: 25px;
    border: solid 2px var(--azuleletrico);
    border-radius: 50px;
    text-align: center;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}

.card h2 {
    font-size: 1.1rem;
    margin: 15px 0px;
    color: var(--branco);
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.card p {
    color: var(--branco);
    text-align: left;
    font-size: 1rem;
    padding: 15px 10px 15px 15px;
}

.card a.btn {
    font-size: 1rem;
    padding: 1rem 5rem;
}

.btn2 {
    text-decoration: none;
    font-size: 1.30rem;
    font-weight: 500;
    background-color: var(--branco);
    padding: 10px 20px;
    color: var(--azuleletrico);
    border-radius: 50px;
    border: 1px solid var(--azuleletrico);
    display: block;
    width: fit-content;
    margin-top: 10px;
    margin-left: 106px;
}


/* Fim - Layout <<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>> */

/* Cabecalho */
header {
    height: 85.5px;
    background-color: var(--azulMedio);
    border-bottom: 2.5px solid var(--azul);
}

#logo img {
    height: 150px;
    width: 150px;
    padding: 15px;
}

#check {
    display: none;
}

label {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.7rem;
    position: fixed;
    right: 15px;
    top: 21.37px;
}

nav ul {
    height: 100vh;
    background-color: rgba(25, 28, 37, 0.9);
    position: fixed;
    right: -55%;
    width: 55%;
    top: 85.4px;
    transition: all 0.6s;
}

/* Ação para o Chackbox */
/* Quando selecionado alterar propriedades UL */

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 17.5px;
    text-align: left;
    border-bottom: 1.5px solid var(--azulMedio);
}

nav ul li a {
    text-decoration: none;
    color: var(--branco);
    font-style: oblique;
}

/* Principal */
main {
    height: 50vh;
    background: url(./img/banner.png);
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid var(--azul);
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--branco);
    font-family: "Poppins", sans-serif;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    text-align: center;
    margin-top: 10px;
}

main h2 {
    color: var(--branco);
    font-size: 0.7rem;
    font-weight: 400;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Destaque */

#destaque {
    padding: 50px 10px;
    background: url(./img/banner_fundo1.png);
    background-size: cover;
    background-position: right;
}

#destaque .container {
    flex-direction: column;

}

#hero {
    text-align: center;
}

#hero img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(6, 164, 255, 0.35);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#hero-text h2 {
    margin-bottom: 15px;
    color: var(--branco);
    font-size: 1.6rem;
    text-align: left;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

#hero-text p {
    color: var(--branco);
    font-size: 0.9rem;

}

.topics {
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-shadow: 0px 5px 10px var(--azuleletrico), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.topics p {
    margin-left: 15px;
    color: var(--branco);
    font-weight: 800;
}

/* Sobre */

#sobre {
    background-color: var(--azulEscuro);
    border-top: 1px solid var(--azuleletrico);
}

#sobre .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}

#sobre h2 {
    margin-bottom: 15px;
    margin-top: 20px;
    color: var(--branco);
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

#sobre p {
    color: var(--branco);
    font-size: 0.8rem;
    padding-left: 10px;
    margin-bottom: 15px;

}

#video iframe {
    width: 340px;
    height: 191px;
    border: 0;
    box-shadow: 0px 5px 10px var(--azuleletrico), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;


}

/* Contato */
#contato .container {
    margin-bottom: 10px;
    text-align: center;
}

#contato {
    padding: 10px;
    padding: 20px 10px;
    background: url(./img/banner_fundo1.png);
    background-size: cover;
    background-position: left;
    border-top: 1px solid var(--azuleletrico);
    border-bottom: 1px solid var(--azuleletrico);
}

#contato h2 {
    margin-bottom: 15px;
    color: var(--branco);
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);

}

#contato p {
    color: var(--branco);
    font-size: 0.8rem;
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 20px;
}

#contato .qrcode-img {
    display: none;
}

#contato .btn {
    text-decoration: none;
    border: 10px;
    text-align: center;
    margin-top: 20px;
}

/*Serviços Cartões */

#serviços .container>h2 {
    color: var(--branco);
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

#serviços {
    background-color: var(--azulEscuro);
    padding: 30px 0px 25px 0px;
}

#serviços .container {
    flex-direction: column;
    align-items: center;
}



/* Fim - Smartphone Portrait >>>>>>>>>>>>>> */


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /* Cabecalho */
    nav ul {
        width: 30%;
        right: -30%;
    }

    /* Principal */
    main {
        height: 80vh;
    }

    main h2 {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 0;
    }

    main h1 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    /*Destaque */
    #destaque {
        padding: 50px 0px;
    }

    #destaque .container {
        flex-direction: row;
        align-items: center;
    }

    #hero {
        text-align: left;
    }

    #hero img {
        width: 200px;
        height: 200px;
        margin: 0px 30px 0px 0px;
    }

    .topics {
        display: none;
    }

    #video iframe {
        width: 540px;
        height: 391px;
        border: 0;
    }

    /* Contato */
    #contato .qrcode-img {
        display: none;
    }

}


/* Fim - Smartphone Landscape >>>>>>>>>>>>> */


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 760px;
    }

    /* Principal */

    main {
        height: 40vh;
    }

    main h1 {
        font-size: 2rem;
    }

    main h2 {
        font-size: 1.4rem;
        font-weight: 400;
    }

    /* Sobre */
    #video iframe {
        width: 700px;
        height: 391px;
        border: 0;
    }

    #sobre p {
        padding: 0px;
        font-size: 0.8rem;
    }
}

/* Fim - Tablet Portrait >>>>>>>>>>>>>>>>>> */


/* Tablet landscape >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }

    /* Principal */
    main {
        height: 89vh;
    }

    /* Sobre */
    #video iframe {
        width: 510px;
        height: 378px;
        border: 0;
        margin-left: 10px;
    }

    #sobre .container {
        display: flex;
        flex-direction: row;
    }

    #sobre p {
        padding: 0px;
        font-weight: 500;
        font-size: 1rem;
    }

    /* Contato */
    #contato .qrcode-img {
        display: none;
    }

    /*Serviços Cartões*/

    #serviços .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        margin-right: 25px;
    }
}

/* Fim - TTablet landscape >>>>>>>>>>>>>>>> */


/* Notebook / PC  >>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /* Cabecalho */
    header {
        height: 100px;
    }

    /* Logo */
    #logo img {
        width: 200px;
        height: 200px;
    }

    /* Menu Hamburguer */
    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 16.2px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        font-size: 1.1rem;
    }

    nav ul li a:hover {
        color: var(--azul);
        text-decoration: underline;
    }

    /** Principal */
    main {
        height: 88vh;
    }

    /* Destaque */

    #destaque {
        background-attachment: fixed;
    }

    #hero img {
        width: 350px;
        height: 350px;
    }

    .topics {
        display: flex;
    }

    /* Sobre */
    #sobre {
        padding: 50px 10px 50px 10px;
    }

    #sobre .container {
        display: flex;
        flex-direction: row;
    }

    #sobre p {
        padding: 10px;
        font-weight: 700;
        font-size: 1rem;
    }

    /* Contato */
    .container {
        display: flex;
        flex-direction: row;
    }


    #contato p {
        color: var(--branco);
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 15px;
        margin-bottom: 20px;
    }

    #contato .qrcode-img {
        display: flex;
        flex-direction: row;
        height: 250px;
    }

}

/* Fim - Notebook / PC >>>>>>>>>>>>>>>>>>>> */


/* FULL HD / 4K  >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }

    /* Principal */
    main {
        height: 89vh;
    }

    main h1 {
        font-size: 3rem;
        margin-top: -140px;
    }

    #sobre .container {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
}

/* Fim - FULL HD / 4K >>>>>>>>>>>>>>>>>>>>> */